<div class="hero-main">
  <div class="hero-texts">
    <div class="hero-title">
      Innovating the Future with Advanced Technology
    </div>
    <div class="hero-subtitle">
      Alphaeon Tech delivers cutting-edge software solutions and technology consulting
      to transform your business and accelerate growth in the digital age.
    </div>
    <div class="hero-getstarted-section"><span class="hero-getstarted">Get Started</span></div>
  </div>
  <div class="hero-image-section">
    <img class="hero-image" src="assets/hero-image.jpg" alt="Hero Image">
  </div>
</div>
