<mat-toolbar color="primary" class="navbar">
  <img src="favicon-v3.ico" alt="">
  <span class="logo">
    Alphaeon Tech</span>

  <span class="spacer"></span>

  <nav class="desktop-links">
    <button mat-button>Home</button>
    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Team</button>
    <button mat-button>Contact</button>
  </nav>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-toggle">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button class="ham-button-home" mat-menu-item>Home</button>
  <button mat-menu-item>About</button>
  <button mat-menu-item>Services</button>
  <button mat-menu-item>Team</button>
  <button mat-menu-item>Contact</button>
</mat-menu>
