.main-section-holder > app-header,
.main-section-holder > app-about
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 1528px;
  grid-template-columns: 1fr;
  grid-template-rows: 1000px auto 300px;
}
.app-hero-section{
  max-width: 2528px;
  padding-left: 100px;
}
.app-hero-section {
  width: 100%;
  margin-left: calc(-50vw + 50%);
  background-color: #c6c6c6;
  padding: 100px 0;
}
.hero-container {
  max-width: 1528px;
  margin: 0 auto;
  padding: 0 20px;
}
